<?xml version="1.0"?>
<launch>
	<node name="pt_to_image" type="pointcloud2rangeimage_node" pkg="pointcloud2rangeimage"  respawn="false" >
	</node>

	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock /home/s/data/bags/seu.bag -l -r 0.5"/>	

	<node pkg="rviz" type="rviz" name="rviz"  args=" -d $(find pointcloud2rangeimage)/config/aiimooc.rviz" />

</launch>